* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Saira Condensed", sans-serif;
}

main {
  height: 100%;
  width: 78%;
  margin-left: 22%;
}

.contenedor {
  padding-left: 3%;
  padding-right: 5%;
  padding-top: 20%;
}

ul {
  list-style: none;
  padding-left: 0%;
  margin-top: 7%;
}

a {
  color: currentColor;
  text-decoration: none;
}

h1 {
  font-size: 280%;
  margin: 0%;
}

h2 {
  font-size: 220%;
  margin-bottom: 0%;
}

h3 {
  font-size: 170%;
  margin: 0% 0% 2% 0%;
  color: rgb(131, 128, 128);
  font-weight: lighter;
}

h4 {
  color: rgb(206, 98, 55);
  font-weight: lighter;
  font-size: 130%;
}

p {
  font-size: 115%;
  margin-top: 3%;
  color: rgb(131, 128, 128);
  padding-right: 0%;
}

mark,
u {
  background-color: white;
  color: rgb(206, 98, 55);
}

/********************HEADER****************************/

header {
  position: fixed;
  background-color: rgb(206, 98, 55);
  width: 22%;
  height: 100%;
  padding-top: 16%;
  text-align: center;
  left: 0;
  top: 0;
  z-index: 1;
}

.logo {
  height: 100%;
  width: 55%;
  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  border-color: rgb(212, 126, 92);
}

nav li {
  height: 100%;
  margin-top: 3%;
  color: rgba(255, 255, 255, 0.55);
  letter-spacing: 2px;
  font-size: 18px;
}

.activo:hover {
  color: rgb(255, 254, 254);
  text-shadow: 0 0 30px #fff;
}

.pagina {
  color: rgb(255, 254, 254);
}

/********************HEADER****************************/

.lista-sociales {
  margin-top: 3%;
  padding-left: 0%;
}

.lista-sociales li {
  display: inline;
  color: rgb(94, 92, 92);
}

/******************EXPERIENCE****************/

.contenedor-2 {
  padding: 5% 5% 5% 3%;
}

.tarjeta {
  float: left;
  height: 100%;
  width: 70%;
}

.fecha {
  float: right;
  height: 100%;
  width: 30%;
  margin: 0%;
  padding: 0%;
  text-align: right;
}

/************EXPERIENCE*********************/

/************SKILLS**********************/

.lista-programacion {
  margin-top: 3%;
  padding-left: 0%;
  margin-bottom: -3%;
}

.lista-programacion li {
  display: inline;
  color: rgb(94, 92, 92);
  letter-spacing: 8px;
}

.flow li {
  color: rgb(131, 128, 128);
  font-size: 110;
  padding-left: 1%;
  font-weight: lighter;
}

/**********SKILLS******************/

/**********AWARDS*****************/

.trofeos li {
  color: rgb(131, 128, 128);
  font-size: 110;
  padding-left: 1%;
  font-weight: lighter;
}

.fa-trophy {
  color: rgb(230, 210, 34);
}

/**********AWARDS****************/

/**********NAVBAR**************/

.navbar-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  background-color: rgb(206, 98, 55);
}

.navbar-2 input[type="checkbox"] {
  position: absolute;
  top: 11px;
  right: 13.5px;
  width: 45px;
  height: 45px;
  z-index: 1;
  opacity: 0;
  display: none;
}

.navbar-2 .fa-bars {
  position: absolute;
  right: 22px;
  top: 34px;
  color: rgb(223, 174, 155);
  display: none;
}

.navbar-2 .logo-1 a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 5px;
}

.navbar-2 .navbar-item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item-list li {
  list-style-type: none;
}

.navbar-item-list li a {
  position: relative;
  display: inline-block;
  padding-left: 2px;
  text-decoration: none;
  color: #f1f1f1;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 5px;
}

/* Responsive*/

@media only screen and (max-width: 750px) {
  .navbar-2 {
    display: block;
  }

  .navbar-2 .navbar-item-list {
    display: none;
    text-align: left;
    margin-top: 20px;
  }
  .navbar-2 input[type="checkbox"] {
    display: block;
    opacity: 0;
  }
  .navbar-2 input[type="checkbox"]:checked ~ .navbar-item-list {
    display: block;
  }
  .navbar-2 .btn,
  .navbar-2 .fa-bars {
    display: block;
  }
}

@media (max-width: 768px) {
  header nav ul li {
    font-size: 20px;
  }
}

@media (max-width: 595px) {
  main {
    height: 100%;
    width: 100%;
    margin-left: 0;
  }
  .contenedor {
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
  }
  header {
    display: none;
  }
}

@media (min-width: 596px) {
  .navbar {
    display: none;
  }
}
