html {
  height: 100%;
  width: 100%;
  font-family: "Saira Condensed", sans-serif;
  margin: 0%;
  padding: 0%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

ul {
  list-style: none;
  padding-left: 0%;
  margin-top: 7%;
}

a {
  color: currentColor;
}

h1 {
  font-size: 380%;
  margin: 0%;
}

h3 {
  font-size: 120%;
  margin: 0%;
  color: rgb(94, 92, 92);
}

p {
  font-size: 100%;
  margin-top: 3%;
  color: rgb(94, 92, 92);
}

mark,
u {
  background-color: white;
  color: rgb(206, 98, 55);
}

/********************MENU****************************/

header {
  float: left;
  background-color: rgb(206, 98, 55);
  width: 25%;
  height: 100%;
  padding-top: 14%;
  text-align: center;
}

.logo {
  width: 55%;
  border-radius: 50%;
  border-style: solid;
  border-width: 6px;
  border-color: rgb(212, 126, 92);
}

nav li {
  margin-top: 3%;
  color: rgba(255, 255, 255, 0.55);
  letter-spacing: 2px;
  font-size: 90%;
}

.activo {
  color: rgb(255, 254, 254);
}

/********************MENU****************************/

main {
  height: 100%;
  width: 75%;
  padding-top: 14%;
  padding-left: 25%;
}

.contenedor {
  padding-left: 3%;
  padding-right: 5%;
}

.lista-sociales {
  margin-top: 3%;
  padding-left: 0%;
}

.lista-sociales li {
  display: inline;
  color: rgb(94, 92, 92);
}
